.cond-exp-3__form {
  width: 300px;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  input {
    outline: none;
  }

  .valid {
    border-color: green;
  }

  .invalid {
    border-color: red;
  }

  .form__error {
    color: red;
  }
}