.header {
  position: relative;
  background-color: black;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__cart {
    margin: 10px 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }

  &__logo {
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }

  &__basket {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    padding: 10px;

    &.show {
      display: block;
    }
  }

  &__search {
    position: relative;

    .search-field {
        box-sizing: border-box;
        width: 200px;
        color: #fafafa;
        padding: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #fafafa;
      }

      .btn-search {
        background-color: transparent;
        border: none;
        color: #fafafa;
        font-size: 1.2em;
        position: absolute;
        bottom: 20px;
        right: 0;
      }
  }
}